<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content">

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:200px">

  <div class="w3-container mb-5">
    <h1><b>Product Edit</b></h1>
  </div>
  
 
  <form ng-submit="save()">
        <div class="form-group">
            <label>Select Images: </label>
            <div class="btn btn-info" ngf-select ng-model="files" ngf-multiple="true">Select</div>
            <div class="d-flex w-100 justify-content-around mt-2" style="height: 100px">
                <img ngf-thumbnail="file" class="img-thumbnail ml-2" ng-repeat="file in files"  style="flex-basis: 20%">
            </div>
        </div>


        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter name" ng-model="product.name">
        </div>
        <div class="form-group">
            <label>Short Description</label>
            <input type="text" class="form-control" placeholder="Enter short description" ng-model="product.short_description">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="product.description"></textarea>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" step="0.001" class="form-control" placeholder="Enter short description" ng-model="product.price">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select ng-model="product.category_id" class="form-control">
                <option value="">Select Category</option>
                <option ng-value="category.id" ng-repeat="category in categories">{{ category.name }}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>