<div class="card">
    <h5 class="card-header">{{ product.name }} ({{ product.category.name}})</h5>
    <div class="card-body">
        <h5 class="card-title">{{ product.short_description }}</h5>
        <p class="card-text">
            {{ product.description }}
        </p>
        <p><strong>Price: </strong>{{ product.price }}$</p>
        <p><strong>Created by: </strong>{{ product.user.name }}</p>
        <p><strong>Create At: </strong>{{ product.created_at }}</p>
        <a ui-sref="products.edit({id : product.id})"  class="btn btn-success">Edit</a>
        <a ui-sref="products.delete({id : product.id})"  class="btn btn-danger">Delete</a>
        <a ui-sref="products"  class="btn btn-warning">All products</a>
    </div>
</div>